In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
table = soup.find_all('tr')[0]

In [3]:
world_titles = table.find_all('th')
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'Revenue per worker']

In [4]:
world_table_titles[6] = 'Headquarters'

In [5]:
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters', 'State-owned', 'Ref.', 'Revenue per worker']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue, Profit, Employees, Headquarters, State-owned, Ref., Revenue per worker]
Index: []

In [8]:
column_data = soup.find_all('tr')[:52]
for row in column_data[2:]:
    row_data = row.find_all('td')
    row_number = row.find_all('th')
    individual_row_data = []
    for data in row_number:
        individual_row_data.append(data.text.strip())  
    for data in row_data:
        individual_row_data.append(data.text.strip())   
    length = len(df)
    df.loc[length] = individual_row_data

In [9]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters,State-owned,Ref.,Revenue per worker
0,1,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,,[1],"$291,090.00"
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,,[4],"$8,562,911.37"
2,3,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,,[5],"$376,908.20"
3,4,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,,[6],"$609,004.85"
4,5,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,,[7][8],"$323,717,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China,,[9],"$444,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China,,[10],"$893,204.95"
7,8,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States,,[11],"$6,566,349.21"
8,9,Apple,Electronics,"$394,328","$99,803","164,000",United States,,[12],"$2,404,439.02"
9,10,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom,,[13],"$4,152,698.92"
10,11,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States,,[14],"$810,405.00"
11,12,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States,,[15],"$1,242,647.40"
12,13,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore,,[16],"$25,793,796.06"
13,14,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China,,[17],"$799,716.07"
14,15,Berkshire Hathaway,Financials,"$302,089","−$22,819","383,000",United States,,[18],"$788,744.13"
15,16,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany,,[19],"$434,570.62"
16,17,Uniper,Electricity,"$288,309","−$19,961","7,008",Germany,,[20],"$41,139,982.88"
17,18,Alphabet,Information technology,"$282,836","$59,972","190,234",United States,,[21],"$1,486,779.44"
18,19,McKesson,Healthcare,"$276,711","$3,560","48,000",United States,,[22],"$5,764,812.50"
19,20,Toyota,Automotive,"$274,491","$18,110","375,235",Japan,,[23],"$731,517.58"
20,21,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France,,[24],"$2,599,847.94"
21,22,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland,,[25],"$3,149,254.47"
22,23,BP,Oil and gas,"$248,891","−$2,487","67,600",United Kingdom,,[26],"$3,681,819.53"
23,24,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States,,[27],"$5,616,293.39"
24,25,Cencora,Healthcare,"$238,587","$1,699","41,500",United States,,[28],"$5,749,084.34"
25,26,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea,,[29],"$865,951.36"
26,27,Costco,Retail,"$226,954","$5,844","304,000",United States,,[30],"$746,559.21"
27,28,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan,,[31],"$290,113.45"
28,29,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China,,[32],"$502,274.39"
29,30,Microsoft,Information technology,"$211,915","$73,307","221,000",United States,,[33],"$897,149.32"
30,31,China Construction Bank,Financials,"$202,753","$48,145","376,682",China,,[34],"$538,260.39"
31,32,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands,,[35],"$693,505.45"
32,33,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China,,[36],"$413,615.68"
33,34,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China,,[37],"$527,466.21"
34,35,Cardinal Health,Healthcare,"$181,364",−$933,"46,035",United States,,[38],"$3,939,698.06"
35,36,Cigna,Healthcare,"$180,516","$6,668","70,231",United States,,[39],"$2,570,317.95"
36,37,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States,,[40],"$10,113,033.71"
37,38,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States,,[41],"$13,515,538.46"
38,39,Sinochem,Chemicals,"$173,834",–$1,"220,760",China,,[42],"$787,434.32"
39,40,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China,,[43],"$545,341.05"
40,41,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States,,[44],"$17,570,460.84"
41,42,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia,,[45],"$358,615.38"
42,43,Cargill,Conglomerate,"$165,000",...,"155,000",United States,,[46],"$1,064,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China,,[47],"$2,014,821.16"
44,45,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China,,[48],"$476,579.81"
45,46,Baowu,Steel,"$161,698","$2,493","245,675",China,,[49],"$658,178.49"
46,47,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany,,[50],"$277,913.04"
47,48,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan,,[51],"$1,999,485.61"
48,49,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States,,[52],"$913,624.28"
49,50,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany,,[53],"$932,498.80"

In [11]:
df.to_csv(r'C:\Users\libor\Downloads\Data Analysis\Companies.csv', index = False)